[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pyserial = "*"
untangle = "*"
xmltodict = "*"
xml = "*"
xml-etree-elementtree = "*"

[requires]
python_version = "3.7"
